.custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

.custom-search-input input{
    border: 0;
    box-shadow: none;
}

.custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: .666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

.custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.custom-search-input .glyphicon-search{
    font-size: 23px;
}

.row-search-bar{
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    padding-top: 1% !important;
    padding-bottom: 2% !important;
}


/* DEFAULT COLOR VARIABLES */
/* DEFAULT SIZING VARIABLES */
/* DEFAULT CLASS VARIABLE */
/* STYLES */
.textColor{
    color: green;

}
    .switch-toggle {
    height: 32px;
    width: 52px;
    cursor: pointer !important;
    user-select: none !important;
    position: relative !important;
    display: inline-block; }

     .switch-toggle .switch-toggle--on::before,  .switch-toggle .switch-toggle--on::after, .switch-toggle .switch-toggle--off::before,  .switch-toggle.switch-toggle--off::after {
      content: '';
      left: 0;
      position: absolute !important; }
     .switch-toggle .switch-toggle--on::before, .switch-toggle .switch-toggle--off::before {
      height: inherit;
      width: inherit;
      border-radius: 16px;
      will-change: background;
      transition: background .4s .3s ease-out; }
     .switch-toggle .switch-toggle--on::after, .switch-toggle .switch-toggle--off::after {
      top: 2px;
      height: 28px;
      width: 28px;
      border-radius: 14px;
      background: #ffffff !important;
      will-change: transform;
      transition: transform .4s ease-out; }
     .switch-toggle .switch-toggle--on::before {
      background: #62c28e !important; }
     .switch-toggle .switch-toggle--on::after {
      transform: translateX(22px); }
     .switch-toggle .switch-toggle--off::before {
      background: #cccccc !important; }
     .switch-toggle .switch-toggle--off::after {
      transform: translateX(2px); }
  

      //here new css for toggle

      .switch {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 15px;
        left: 17%;
        top: 65%;
      }
      
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:focus  .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input[type='checkbox'] {
        &:checked + .slider:before {
            transform: translateX(15px);
          }
          &:checked + .slider.round {
            background-color: #2196F3;
          }
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
        width: 25%;
        height: 62%;
        bottom: 3px;
      }